@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;1,100;1,200;1,300&family=Press+Start+2P&family=Roboto+Slab:wght@300;400&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  height: auto;
}


body:not(.topnav) {
  scroll-padding-top: 70px;
  height: 150%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  background-color: rgb(244, 244, 244);}


.topnav {
  font-family: 'Roboto Slab', serif;
  width: auto;
  display: flex;
  text-transform: uppercase;
  background-color: rgb(63, 115, 246);
  text-align: center;
  padding: .8em;
  text-decoration: none;
  font-size: .9rem;
  align-items: center;
  flex-wrap: wrap;

}

.topnav>a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin: 1rem;
}

/* unvisited link */

.topnav>a:link {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

/* visited link */
.topnav>a:visited {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

/* mouse over link */
.topnav>a:hover {
  color: rgb(171, 171, 171);
  text-decoration: none;
}

/* selected link */
.topnav>a:active {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: .9em;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: 'Roboto Slab', serif;
  text-transform: uppercase;
  margin: 0; 
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown:hover .dropdown-content {
  display: block;
}
#cart-icon {
  font-size: 3rem;
  cursor: pointer;
}
.cart {
  position: fixed;
  background-color: white;
  top: 0;
  right: -100%;
  width: 360px;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
  box-shadow: -2px solid;
  border: 1px solid;
  transition: 1.5s;
}
.cart.active {
  right: 0;
  transition: .5s;
}
.cart-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 2rem;
}
.cart-box {
  display: grid;
  grid-template-columns: 32% 50% 18%;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
.cart-img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  padding: 10px;
}
.detail-box {
  display: grid;
  row-gap: .5rem;
}
.cart-stock-title {
  font-size: 1rem;
}
.cart-price {
  font-weight: 500;
}
.cart-quantity {
  border: 1px solid;
  width: 2.4rem;
  text-align: center;
  font-size: 1rem;
}
#cart-remove {
  font-size: 24px;
  color:rgb(204, 42, 42);
  cursor: pointer;
}
.total {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
  border-top: 1px solid;
}
.total-title {
  font-size: 1rem;
  font-weight: 600;
}
.total-price {
  margin-left: .5rem;
}
.btn-buy {
  display: inline-block;
  padding: 12px 20px;
  border: none;
  background-color: #04AA6D;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}
.btn-sell {
  display: inline-block;
  padding: 12px 20px;
  border: none;
  background-color: rgb(204, 42, 42);
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}
.btn-buy:hover {
  background-color: rgb(63, 115, 246);
}
.btn-sell:hover {
  background-color: rgb(63, 115, 246);
}
#cart-close {
  position: absolute;
  top: 1rem;
  right: .8rem;
  font-size: 2rem;
  cursor: pointer;
}
.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.stock-title {
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: .5rem;
  margin-top: 15px;
  text-align: center;
}
.stock-price {
  font-weight: 500;
  text-align: center;
}
#add-cart {
  position: absolute;
  padding: 10px;
  left: 48.5%;
  font-size: 3rem;
  cursor: pointer;
}

#loginLink {

  position: relative;
  display: inline-block;
  margin-left: auto;
  margin-right: 5%;
  text-transform: uppercase;
  background-color: #faca1c;
  border-radius: 2px;
  color: #131313;
  font-size: 20px;
  font-weight: bold;
  padding: 1em;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffee66;
}


.splash-main {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 3em;
  padding-top: 2rem;
  padding-bottom: 10rem;
  height: auto;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.membership-container {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 10rem;
  height: auto;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}


.splash-main-index {
  background-color: white;
  background-image: url("images/splash-image.jpg");
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 4em;
  padding-top: 10rem;
  padding-bottom: 10rem;
  height: 20vw;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.splash-main-index p {
  color: white;
  text-shadow: 0px 0px 13px rgba(0, 0, 0, 0.78);
}

.splash-main-index>button {
  text-transform: uppercase;
  background-color: rgb(204, 42, 42);
  background-color: #faca1c;
  border-radius: 5px;
  color: #313131;
  font-size: .5em;
  font-weight: bold;
  padding: 6px 15px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffee66;
}

#googleLogin {
  font-family: 'Roboto Medium', sans-serif;
  display: inline-block;
      background: white;
      color: rgb(70, 70, 70);
      width: 190px;
      border-radius: 5px;
      border: thin solid #888;
      box-shadow: 1px 1px 1px grey;
      white-space: nowrap;
      padding: 10px 1px 10px 10px;  background-image: url("./images/google.png");
      background-position: left;
      background-size: contain;
      background-repeat: no-repeat;
      background-origin: content-box;

}


.below-splash-main {
  display: flex;
  font-family: 'Roboto Slab', serif;
  background-color: rgb(229, 246, 251);
  box-shadow: #131313;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  font-size: 1.5em;
  height: 5%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.below-splash-main>p {
  padding-top: 5%;
}

#contact-form-p {
  font-size: 20px;
}

.body-container {
  display: flex;
  height: 100vh;

}

input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.form {
  background-color: #3f73f6;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 1em;
  width: 30%;
  font-size: 15px;
  padding: 5%;
  display: flex;
  flex-direction: column;
}

.loginRegisterBtns{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;


}

.twitter-timeline {
  padding: 0px 1px 0px 1px;
  font-size: 1rem;
  margin: auto;
  min-height: 1em;
  min-width: 2em;
  width: 30%;
  height: 100%;
  overflow: scroll;
}

footer {
  display: flex;
  background-color: rgb(63, 115, 246);
  color: white;
  padding-left: 15%;
  padding-top: 5%;
  padding-bottom: 2%;
  font-size: 1.5em;
  text-transform: uppercase;
  height: auto;
  list-style: none;
  bottom: 0;
  bottom: 0;
  clear: both;
}

.footer-list {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  padding-left: 10%;
  list-style: none;
}

.footer-list>a:link {
  color: rgb(255, 255, 255);
  text-decoration: none;
}


/* unvisited link */

.footer-list>a:link {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

/* visited link */
.footer-list>a:visited {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

/* mouse over link */
.footer-list>a:hover {
  color: rgb(171, 171, 171);
  text-decoration: none;
}

/* selected link */
.footer-list>a:active {
  color: rgb(255, 255, 255);
  text-decoration: none;
}


#form_container {
  width: 50%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
}

#form_header {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 5em;
  font-weight: 900;
  letter-spacing: 1px;
}


input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=password],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #182b5d;
  font-family: 'Roboto Slab', serif;
  border: none;
  padding: 10px 25px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
}

#button_container {
  width: 100%;
  height: 10%;
  color: #fff;
  float: left;
  margin-top: 5px;
}

#button_container button {
  width: 50%;
  height: 100%;
  float: left;

  background: transparent;
  color: inherit;
  font-family: Montserrat;
  letter-spacing: 1px;
  font-weight: 900;
  font-size: 12px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.membership-options {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
  height: auto;
  background-color: #ffffffa3;
  background-image: url("/public/images/pexels-alesia-kozik-6771664.jpg");
  background-size: contain;
}

.columns {
  flex-direction: column;
  width: 33.3vw;
  padding: 3%;
}


.price {
  font-family: 'Roboto Slab', serif;
  list-style-type: none;
  border: 1px solid rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.price:hover {
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2)
}

.price .header {
  background-color: #3f73f6;
  color: rgb(255, 255, 255);
  font-size: 25px;
}

.price li {
  border: .5px solid rgba(255, 255, 255, 0.392);
  padding: 20px;
  text-align: center;
  background-color: rgba(4, 4, 4, 0.836);
  color: rgb(255, 255, 255);
}

.price .grey {
  background-color: #faca1c;
  font-size: 20px;
}

.button {
  background-color: #3f73f6;
  font-family: 'Roboto Slab', serif;

  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
}

.button-grey {
  background-color: #757575;
  font-family: 'Roboto Slab', serif;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
}

#checkout-button {
  background-color: #3f73f6;
  font-family: 'Roboto Slab', serif;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
}
